<footer class="site-footer">

	<div class="wrapper">

		<h2 class="footer-heading">{{ site.title }} • <a href="{{ site.baseurl }}/">Front page</a></h2>

		<div class="footer-col-wrapper">
			<div class="footer-col footer-col-1">
				<ul class="contact-list">
					<li>{{ site.title }}</li>
					<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
				</ul>
			</div>

			<div class="footer-col footer-col-2">
				<ul class="social-media-list">
					{% if site.github_username %}
					<li>
						{% include icon-github.html username=site.github_username %}
					</li>
					{% endif %}

					{% if site.instagram_username %}
					<li>
						{% include icon-instagram.html username=site.instagram_username %}
					</li>
					{% endif %}

					{% if site.twitter_username %}
					<li>
						{% include icon-twitter.html username=site.twitter_username %}
					</li>
					{% endif %}

					<li>
						<a href="https://www.linkedin.com/in/hadar-greinsmark-349a07b2"><span class="icon icon--linkedin"><svg viewBox="0 0 16 16"><path fill="#828282" d="M136 333l0-283-94 0 0 283z m6 88c0-14-4-26-14-35-10-9-23-14-39-14l0 0c-16 0-29 5-38 14-10 9-14 21-14 35 0 14 4 26 14 35 10 9 23 14 39 14 16 0 28-5 38-14 9-9 14-21 14-35z m333-208l0-163-94 0 0 152c0 20-3 35-11 47-8 11-20 17-36 17-12 0-22-4-30-10-9-7-15-15-19-25-2-5-3-13-3-23l0-158-94 0c1 76 1 138 1 185 0 47 0 76 0 85l-1 13 94 0 0-41 0 0c4 6 7 12 11 16 4 5 10 10 17 15 6 5 15 10 24 13 10 3 21 4 33 4 33 0 59-11 79-32 20-22 29-54 29-95z"/></svg></span><span class="username">Hadar Greinsmark</span></a>
					</li>
				</ul>
			</div>

			<div class="footer-col footer-col-3">
				<p>{{ site.description }}</p>
			</div>
		</div>

	</div>

</footer>
